<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="00님의 게시판">
    <meta property="og:description" content="게시판에 새로운 글을 작성하고, 코멘트를 받아보세요!">
    <meta property="og:image"
          content="https://cdn.pixabay.com/photo/2017/09/20/11/27/bulletin-board-2768204_960_720.jpg">
<!--    <link href="https://fonts.googleapis.com/css2?family=family=Nanum+Gothic&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script src="basic.js"></script>-->
    <title>나만의 게시판</title>
</head>
<body>
<div class="header" style="position:relative;">
    <div id="header-title-login-user">
        <span th:text="${username}"></span> 님의
    </div>
    <div id="header-title-select-shop">
        게시판
    </div>

    <form id="my_form" method="post" action="/user/logout">
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
    </form>
</div>
<div class="nav">
    <div class="nav-see active">
        모아보기
    </div>


    <div class="nav-create">
        <a href="/api/boards">게시글 작성하기</a>
    </div>
</div>
<div id="see-area">
    <div id="product-container">

    </div>
</div>
<div id="contents-area">
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <th>Username</th>
                <th>작성날짜</th>
            </tr>

            <tr th:each="list : ${boardList}">
                <td th:text="${list.title}"></td>
                <td th:text="${list.username}"></td>
                <td th:text="${list.createdAt}"></td>
            </tr>

        </table>
    </div>

    <div id="search-result-box">

    </div>
    <div id="container" class="popup-container">
        <div class="popup">
            <button id="close" class="close">
                X
            </button>
        </div>
    </div>
</div>
<!--<div th:if="${admin_role}" id="admin"></div>-->


</body>
</html>